<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFI1uo1qgeTG5eWFZROsLUdNpQZeqRIlU</string>
	<key>GCM_SENDER_ID</key>
	<string>483411479274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.reactNativeProjSinha</string>
	<key>PROJECT_ID</key>
	<string>react-native-1b86d</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-1b86d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483411479274:ios:830be3f22869b03bfa6593</string>
</dict>
</plist>